.resume-title {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #343a40;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
}

.resume-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.resume-left {
  flex: 1;
}

.resume-right {
  text-align: right;
  min-width: 180px;
  color: #666;
  font-style: italic;
}

.resume-left h4 {
  margin: 0;
  font-size: 18px;
  color: #007BFF;
}

.resume-left p {
  margin: 0;
  font-size: 14px;
}
